* {
  padding: 0;
  margin: 0;
}

body {
  background: rgba(0, 0, 0, 0.664);
  width: 99vw;
  height: 100vh;
}

header {
  float: right;
  margin-right: 50px;
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin: 20px;
}
.page-info {
  margin: 50px;
}
.semantic {
  margin: 50px;
}
.semantic-title {
  margin-left: 100px;
}
.iframe-audio-container {
  display: flex;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.audio-demo {
  margin: 50px;
}
.iframe-demo {
  margin: 50px;
}
iframe,
video {
  border: 4px solid rebeccapurple;
}

.add-margin-top {
  margin-top: 20px;
}
.title-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.video-demo {
  float: right;
}
.semantics-video-container {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .semantics-video-container {
    display: inline-block;
  }
}
html {
  color: rgb(255, 255, 255);
  min-height: 100%;
  background-image: radial-gradient(
      circle at 29% 55%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 4%,
      transparent 4%,
      transparent 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 89%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 90%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 53%,
      transparent 53%,
      transparent 64%,
      transparent 64%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 6%,
      transparent 6%,
      transparent 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 16%,
      transparent 16%,
      transparent 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 0%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 3%,
      transparent 3%,
      transparent 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 29% 28%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 75%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 21%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 35%,
      transparent 35%,
      transparent 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 65% 91%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 46%,
      transparent 46%,
      transparent 76%,
      transparent 76%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(83, 91, 235), rgb(76, 11, 174));
}
